The Basics Part 1/Starters/.vs/
.vs/
The Basics Part 1/Solutions/DeclaringVariables/obj/
The Basics Part 1/Starters/DeclaringVariables/bin/
The Basics Part 1/Starters/DeclaringVariables/obj/
The Basics Part 2/Solutions/DoingMaths/obj/
The Basics Part 2/Starters/DoingMaths/obj/